# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SuperCodingChallenge.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\CodingChallenges\SuperCodingChallenge\.idea\.idea.SuperCodingChallenge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
